footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: beige;
    color: black;
    text-align: center;
}

.social-link {
    width: 42px;
    height: 42px;
}