{% extends 'base.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ SITEURL }}/themes/classy-software/static/css/index.css">
{% endblock %}
{% block content %}
<div>
    <div class="side-bar" style="width: 25%; float: left;">
    <img 
        src="{{ SITEURL }}/themes/classy-software/static/images/joe.jpeg" 
        alt="Me (AKA Joe)"
        style="width:400px;height:auto;"
    >
    <a href="https://github.com/M-Moon">
        <img
            class="social-link"
            src="{{ SITEURL }}/themes/classy-software/static/images/github-mark.png" 
            alt="GitHub logo with link to GitHub page"
        >
    </a>
    <a href="https://www.linkedin.com/in/joe-moon-whitehead/">
        <img
            class="social-link"
            src="{{ SITEURL }}/themes/classy-software/static/images/linkedin-logo.png" 
            alt="LinkedIn logo with link to LinkedIn page"
        >
    </a>
    </div>
    <div class="main-content" style="float: right; padding-right: 10%;">
    <h1>Hi, welcome!</h1>
    <p>
        I'm Joe, a software engineer from London. You can find my information, projects, and any articles
        I've written on this site.
    </p>
    </div>
</div>
{% endblock %}